


<div class="content-form">
        <h3>Bir Yorum Yazınız...</h3>
    
        <form method="post">
            <input type="text" placeholder="Id" name="Blogid" value="@ViewBag.deger" required   />
            <input type="text" placeholder="Adınız" name="KullaniciAdi" required />
            <input type="text" placeholder="Mail Adresi" name="Mail" required />

            <textarea placeholder="Yorum" name="Yorum"></textarea>
            <input type="submit" value="Gönder" />
        </form>
    </div>